{% extends 'base.html' %}
{% block content %}

    <!-- Coletando e exibindo as flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}}">
            {{message}}
        </div>
    {% endfor %}
    {% endwith %}

    <div class="container col-4">
        <div class="card mt-4">
            <div class="card-body m-auto">
                <form action="" method="post">
                    <label>E-mail:</label>
                    <input type="email" name="username" class="form-control" placeholder="Digite o seu e-mail">
                    <label>Senha:</label>
                    <input type="password" name="password" class="form-control" placeholder="Digite sua senha">
                    <br>
                    <button type="submit" class="btn btn-danger w-100">Entrar</button>
                    <hr>
                    <h6>Não possui conta? <a href="{{url_for('caduser')}}">Cadastre-se!</a></h6>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}