{% extends 'base.html'%}

{% block content %}
<div class="conteudo__bandas">
  <h1 class="bandas__titulo">Essa é a página de bandas!</h1>
  <hr>
  <h3 class="bandas__subtitulo">Banda em destaque:</h3>

  <div class="bandas__informacoes">
    <ul class="lista__bandas">
      <li><span>Banda:</span> {{ band }}</li>
      <li><span>Gênero:</span> {{ genre }}</li>
      <li><span>Ano de criação:</span> {{ yearCreation }}</li>
      <li><span>Músicas:</span>
        <ul class="lista__itens">
          {% for music in musics %}
            <li>{{ music }}</li>
          {% endfor %}
        </ul>
      </li>
      <li><span>Membros:</span>
        <ul class="lista__itens">
          {% for member in members %}
            <li>{{ member['Nome'] }} - {{ member['Função'] }}</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</div>

<hr>
<section class="recomendacoes">
    <h3>Músicas recomendadas pelos usuários:</h3>

    <div class="recomendacoes-lista">
        {% for recomendation in recomendations %}
        <div class="recomendacao-card">
            {{ recomendation }}
        </div>
        {% endfor %}
    </div>

    <form action="{{ url_for('bandas') }}" method="POST" class="recomendacoes-form"> 
        <label for="recomendation">Insira uma música e banda:</label>
        <input type="text" name="recomendation" id="recomendation" placeholder="Ex: Smells Like Teen Spirit - Nirvana">
        <button type="submit">Recomendar</button>
    </form>
</section>
<hr>

<a href="{{ url_for('home') }}" class="botao__voltar">Voltar para o início</a>

{% endblock %}
