<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiBanda</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <header>
        <h1 style="text-align: center;">WikiBanda</h1>
    </header>
    {% block content %}

    {% endblock content %}

    <footer>
        <p style="text-align: center;">Todos os direitos reservados &reg;</p>
    </footer>
</body>
</html>