{% extends 'base.html' %}

{% block content %}
<div class="conteudo__principal">
  <h2 class="apresentacao__titulo">Bem-vindo à WikiBanda!</h2>
  <hr class="linha">
  <p class="apresentacao__subtitulo">Aqui você encontra informações sobre bandas e pode cadastrar novas.</p>

  <div class="menu">
    <a href="/bandas" class="menu__item">Página de Bandas</a>
    <a href="{{ url_for('newbanda') }}" class="menu__item">Cadastrar Bandas</a>
    <a href="{{ url_for('catalogo')}}" class="menu__item">Catálogo Completo</a>
    <a href="{{ url_for('musicaLista')}}" class="menu__item">Lista de músicas</a>
    <a href="{{ url_for('bandaLista')}}" class="menu__item">Lista de bandas</a>
  </div>

  
</div>
{% endblock %}
