{% extends 'base.html' %}

{% block content %}
<div class="conteudo__cadastro">
  <h1>Cadastro de Bandas</h1>
  <hr>

  <form action="{{ url_for('newbanda') }}" method="POST" class="formulario">
    <div class="formulario__item">
      <label>Banda:</label>
      <input type="text" name="band" required>
    </div>

    <div class="formulario__item">
      <label>Gênero:</label>
      <input type="text" name="genre" required>
    </div>

    <div class="formulario__item">
      <label>Criação:</label>
      <input type="text" name="yearCreation" required>
    </div>

    <div class="formulario__item">
      <label>Música:</label>
      <input type="text" name="musics">
    </div>

    <div class="formulario__item">
      <label>Membros:</label>
      <input type="text" name="members">
    </div>

    <button type="submit" class="botao__cadastro">Cadastrar</button>
  </form>

  <br>
  <hr>

  <h2 class="subtitle">Bandas Registradas</h2>
  <table class="tabela__banda">
    <thead>
      <tr>
        <th>Banda</th>
        <th>Gênero</th>
        <th>Criação</th>
        <th>Música</th>
        <th>Membros</th>
      </tr>
    </thead>
    <tbody>
      {% for band in bandlist %}
      <tr>
        <td>{{ band.Banda }}</td>
        <td>{{ band.Gênero }}</td>
        <td>{{ band.Criação }}</td>
        <td>{{ band.Música }}</td>
        <td>{{ band.Membros }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr>
<a href="{{ url_for('home') }}" class="botao__voltar" style="margin-left: 10px;">Voltar para o início</a>
{% endblock %}
